# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Directories
data/
outputs/
__init__.py

# File Extensions
*.csv
*.pickle
*.pyc

# Environment Variables
.env

# Installer logs
pip-log.txt